body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "Noto Sans Japanese", "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  scroll-behavior: smooth;
  overflow-x: auto;
}

a {
  cursor: pointer;
}

.first-view {
  background-image: url(../image/first_view.png);
  background-size: cover; /* 画面全体に広げる */
  background-position: center; /* 画像を中央に配置 */
  background-repeat: no-repeat; /* 繰り返さない */
  position: relative; /* テキスト位置調整のために設定 */
  margin: 0;
  overflow: hidden; /* はみ出しを防ぐ */
  height: 100vh;
}

.top-message {
  position: absolute;
  top: 1%;
  left: 50%;
  transform: translate(-50%, 0%);
  color: white;
  z-index: 1;
  text-align: center;
}

.top-message h1 {
  font-size: 18px;
  letter-spacing: 4px;
}
.top-message p {
  font-size: 10px;
  letter-spacing: 3px;
}

.top-message img {
  width: 105px;
}

.message {
  font-size: 1rem;
  font-weight: 50;
  margin: 0;
  letter-spacing: 2px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* 中央に配置 */
  color: white; /* テキストカラー */
  font-size: 2em; /* フォントサイズの調整 */
  text-align: center;
}

.message h1 {
  font-size: 48px;
  letter-spacing: 1.8rem;
}
.message p {
  margin-top: 20px;
  font-size: 24px;
}

.concept {
  background-color: black;
  color: #6d5e3c;
  text-align: center;
}

.concept-header {
  padding-top: 130px;
  font-size: 24px;
  font-weight: 100;
  letter-spacing: 10px;
  line-height: 3rem;
}
.concept-text {
  padding-top: 50px;
  font-size: 20px;
  font-weight: 100;
  letter-spacing: 3px;
  line-height: 3rem;
}
.concept-text span {
  letter-spacing: 1px;
}

.concept-image {
  margin-top: 80px;
  padding-bottom: 100px;
}

.concept-image img {
  max-width: 500px;
}

.service {
  background-color: white;
  margin-bottom: 20px;
}

.service-container {
  height: 800px;
  display: flex;
  justify-content: center;
}

.service-message {
  height: 100%;
  width: 50%;
  position: relative;
  max-width: 720px;
}

.service-message .center {
  position: absolute;
  top: 50%;
  color: blue;
  transform: translate(0%, -50%);
  width: 60%;
  margin-left: 10%;
}

.service-message h1 {
  color: #80714c;
  font-size: 32px;
  border-bottom: solid #80714c 2px;
  padding-bottom: 5px;
  display: inline-block;
}

.service-message p {
  margin-top: 40px;
  color: #111111;
  font-size: 14px;
  line-height: 1.8rem;
}

.service-image {
  max-width: 720px;
  padding-top: 20px;
  padding-bottom: 20px;
  height: 100%;
  width: 50%;
  text-align: center;
}

.service-image img {
  object-fit: cover;
  max-width: 600px;
}

.service-message a {
  margin-top: 80px;
  display: inline-block;
  width: 100%;
  padding: 30px;
  border: 1px solid #80714c;
  font-size: 20px;
  color: #80714c;
  text-align: center;
  position: relative;
  text-decoration: none;
}

.service-message a span {
  padding-left: 50px;
  position: relative;
}

.service-message a span:before {
  content: "";
  display: block;
  width: 30px;
  height: 30px;
  background-image: url(../image/download.png);
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.service-message a:hover {
  background-color: #80714c;
  color: white;
  transition: 0.2s;
}

.swiper {
  width: 100%;
  height: auto;
  overflow-x: hidden;
}

.swiper-slide {
  width: 900px;
  max-width: 300px;
  /* display: flex; */
  justify-content: center; /* 画像が中央に配置されるようにする */
  margin: 20px;
}

.swiper-slide img {
  width: 100%; /* 親要素の幅に合わせて画像の横幅を100% */
  height: auto; /* 縦横比を保持 */
  object-fit: cover;
}

.swiper-pagination {
  /* margin-top: 20px; */
  position: inherit;
}
.swiper-pagination-bullet-active {
  background-color: #111111;
}

hr {
  height: 2px;
  background-color: #dedbcc;
  border: none;
  color: #dedbcc;
  max-width: 1440px;
  margin: auto;
}

.portrait-image {
  margin: auto;
  margin-top: 80px;
  max-width: 1440px;
}

.portrait-image h1 {
  color: #80714c;
  font-size: 32px;
  border-bottom: solid #80714c 2px;
  padding-bottom: 5px;
  display: inline-block;
  font-weight: 10;
}

.portrait-image > div {
  max-width: 1440px;
  margin-bottom: 50px;
}

.portrait-image > div h1 {
  margin-left: 5%;
}

.staff {
  background-color: #edf0ea;
  height: 2760px;
}

.staff-container {
  max-width: 1200px;
  text-align: center;
  height: 1800px;
  margin: auto;
  padding-top: 80px;
}

.staff-container h1 {
  color: #80714c;
  font-size: 32px;
  border-bottom: solid #80714c 2px;
  padding-bottom: 5px;
  display: inline-block;
  font-weight: 10;
}

.staff-container .grid {
  margin-top: 60px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  place-items: center;
}

.staff-container .grid .staff-info {
  color: #fff;
  padding: 10px;
  height: 560px;
  width: 336px;
}

.staff-container .grid .staff-info img {
  height: auto;
  width: 100%;
  /* margin-bottom: 20px; */
  display: block;
}

.image-container {
  position: relative;
  margin-bottom: 20px;
}

.image-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0); /* 初期状態は透明 */
  transition: background-color 0.3s ease; /* ホバー時のアニメーション */
  overflow: hidden;
}

.image-container:hover .image-overlay {
  background-color: rgba(255, 255, 255, 0.6); /* 半透明の白色 */
}

.profile {
  text-align: left;
}

.profile h2 {
  color: #80714c;
  font-size: 20px;
  margin-bottom: 6px;
}
.profile h3 {
  margin-bottom: 10px;
  color: #111111;
  font-size: 11px;
}

.profile div {
  color: #111111;
  font-size: 13px;
  line-height: 1.3rem;
}

.staff-works-link {
  margin-top: 80px;
}
.staff-works-link a {
  color: #80714c;
  font-size: 20px;
  text-decoration: underline;
  text-underline-offset: 0.3rem;
  display: inline-flex;
  align-items: center;
}

.staff-works-link a::before {
  content: "";
  display: inline-block;
  background-image: url("../image/works.png");
  background-size: contain; /* 画像を要素サイズに合わせて調整 */
  background-repeat: no-repeat;
  width: 24px; /* 画像の幅 */
  height: 24px; /* 画像の高さ */
  margin-right: 8px; /* アイコンとテキストの間にスペース */
}

.staff-works-link a:hover {
  color: #484848;
  transition: 0.3s;
}

.flow {
  height: 400px;
  background-color: white;
  text-align: center;
}

.flow-container {
  margin: 0 auto;
  max-width: 1440px;
  height: 100%;
}

.flow-container h1 {
  float: left;
  text-align: left;
  /* width: 100%; */
  margin-top: 60px;
  color: #80714c;
  font-size: 32px;
  border-bottom: solid #80714c 2px;
  padding-bottom: 5px;
  font-weight: 100;
  margin-left: 30px;
}

.flow-line {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 100%;
  padding: 0 20px;
  padding-top: 60px;
}

.flow-line::before {
  content: "";
  position: absolute;
  top: 35%;
  left: 90px;
  width: 1200px;
  height: 1px;
  background-color: #d9d3c4;
  z-index: 0;
}

.step {
  text-align: center;
  position: relative;
  z-index: 1;
  width: 200px;
  min-width: 120px;
}

.diamond {
  width: 50px;
  height: 50px;
  background-color: #d9d3c4;
  color: #80714c;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: rotate(45deg);
  margin-bottom: 10px;
  text-align: center;
  margin: 0 auto;
}

.diamond span {
  transform: rotate(-45deg);
  display: inline-block;
}

.step p {
  color: #80714c;
  font-size: 16px;
  line-height: 1.8;
  white-space: nowrap;
  display: inline-block;
  height: 100px;
  margin-top: 30px;
}

.contact {
  height: 600px;
  background-color: #edf0ea;
}

.contact-container {
  max-width: 1200px;
  text-align: center;
  height: 100%;
  margin: auto;
  padding-top: 80px;
}

.contact-container h1 {
  color: #80714c;
  font-size: 32px;
  border-bottom: solid #80714c 2px;
  padding-bottom: 5px;
  display: inline-block;
  font-weight: 10;
}

.contact-container p {
  margin-top: 80px;
  font-weight: 100;
  color: #80714c;
  line-height: 3rem;
  font-size: 20px;
  letter-spacing: 3px;
}

.contact-container a {
  margin-top: 80px;
  display: inline-block;
  width: 400px;
  padding: 30px;
  border: 1px solid #80714c;
  font-size: 20px;
  color: #80714c;
  text-align: center;
  position: relative;
  text-decoration: none;
  background-color: white;
}

.contact-container a span {
  padding-left: 50px;
  position: relative;
}

.contact-container a span:before {
  content: "";
  display: block;
  width: 30px;
  height: 30px;
  background-image: url(../image/works.png);
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.contact-container a:hover {
  background-color: #80714c;
  color: white;
  transition: 0.2s;
}

.footer {
  background-color: #111;
  color: #fff;
  padding: 40px 20px;
  text-align: center;
}

.footer-top {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 40px;
  height: 300px;
  max-width: 1200px;
  margin: 0 auto;
}

.footer-logo,
.footer-menu,
.footer-link,
.footer-blank,
.footer-to-top {
  width: 18%;
  height: 80%;
  text-align: left;
}

.footer-logo img {
  width: 90px;
}

.footer-logo h1 {
  font-size: 24px;
  margin: 0;
  color: #fff;
  font-weight: bold;
}

.footer-logo p {
  font-size: 12px;
  margin: 5px 0 0;
  color: #fff;
}

.footer-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-menu li {
  font-size: 14px;
  margin-bottom: 10px;
}

.footer-link ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-link li {
  font-size: 12px;
  margin-bottom: 10px;
}

.footer-link a {
  color: #fff;
  text-decoration: none;
  font-size: 14px;
  display: flex;
  align-items: center;
}

.footer-link a::before {
  content: "";
  display: inline-block;
  background-image: url("../image/works.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
  margin-right: 8px;
}

.footer-bottom {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
}

.footer-links {
  display: flex;
  gap: 20px;
  font-size: 12px;
}

.footer-links img {
  width: 60px;
}

.footer-info {
  font-size: 12px;
  color: #fff;
  text-align: center;
}

.footer-to-top {
  position: relative;
}

.footer-to-top a {
  position: absolute;
  top: 0px;
  right: 10px;
}

.footer-info span {
  margin-right: 20px;
}

.to-top {
  color: #fff;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.to-top img {
  width: 40px;
  height: 40px;
}

.to-top img:hover {
  filter: invert(0.4);
  transition: 0.3s;
}

.portrait {
  font-size: 60%;
}

.footer a:hover {
  color: #d4af37;
  transition: 0.3s;
}

/* 右上に追従するスタイル */
.language-switcher {
  position: fixed;
  top: 10px;
  right: 100px;
  display: flex;
  gap: 10px;
  font-size: 14px;
  padding: 5px 10px;
  z-index: 10;
}

/* リンクスタイル */
.language-switcher a {
  text-decoration: none;
  color: white;
}

/* ホバー時のスタイル */
.language-switcher a:hover {
  color: #d4af37;
}

#jp-link {
  text-decoration: none; /* デフォルトの下線を無効化 */
  border-bottom: 2px solid #d4af37; /* 下線の色と太さ */
  padding-bottom: 2px; /* ラインの位置調整 */
}

.smaller {
  font-size: 80%;
  line-height: 1.2;
}
